.command-line, .command-line-result {
    width: 90%;
}

.command-line-result {
    padding: 10px;
    border-radius: 3px;
    border-color: #757575;
    border-width: 1px;
    border-style: solid;
    background-color: #e1e1e1;
}